<html>
<head> 
	<title>Lesson 5 Angular</title>
	<script src="http://404.ge/greek/angular/angular.min.js" type="text/javascript"></script>
	<script src="http://404.ge/greek/angular/script.js" type="text/javascript"></script>
</head>
<body>
	
	<div data-ng-app="myModule5">
		<div data-ng-controller="gioscontroller5">
			<textarea data-ng-model="message"></textarea><br />
			{{ message }}<br />
			<textarea data-ng-model="greating"></textarea><br />
			{{ greating }}<br />
		</div>
	</div>

	
</body>
</html>